@import "../../stylevariables";

.appbar-root {
  padding: 1%;
  border-bottom: 1px solid #eee;
  background-color: white;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .appbar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: relative;
    .logo-holder {
      cursor: pointer;
      h3 {
        font-family: "Cinzel", serif;
        span {
          font-family: "Square Peg", cursive;
          font-size: 1rem;
          color: $color1;
        }
      }
    }
    .appbar-right {
      display: flex;
      align-items: center;
      position: relative;
      gap: 10px;

      p {
        font-family: "Cinzel", serif;
        font-weight: 800;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
    .appbar-menu {
      padding: 1%;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 1100;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px;
      width: 250px;
      p {
        padding: 5% 10%;
        margin-top: 5%;
        font-family: "Roboto", serif;
        font-weight: 700;
        cursor: pointer;
        border-radius: 8px;
        color: black;
        &:first-child {
          margin-top: 0;
        }
        &:hover {
          background-color: rgba(#eee, 0.7);
        }
        span {
          margin-right: 5%;
          color: rgb(176, 176, 176);
        }
      }
      .logout-btn {
        border-top: 1px solid #eee;
      }
    }
  }
}
.appr-divider {
  width: 1px;
  height: 10px;
  background-color: grey;
}
.join-us-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #1d976c;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    text-decoration: 1px solid underline;
  }
}
.authme-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff7f3f;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    text-decoration: 1px solid underline;
  }
}

.mobile-menu {
  i {
    color: #1d976c;
  }
}

.appbar-righty {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 30%;

  .explorer-href {
    font-size: 0.9rem;
    padding: 2% 5%;
    border-radius: 8px;
    color: black;
    font-family: "Cinzel", serif;
    font-weight: 700;
    text-shadow: 0.1em 0.1em 0 #eee;
    font-style: italic;
    cursor: pointer;
    &:hover {
      text-decoration: 1px solid #eee;
    }
  }
}
